<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spot utils</title>
</head>

<body>
    <h1>welcome {{username}}!</h1>
    <p>
        {% if user %}
        here's your data from when you uploaded files on {{user.last_upload}}. click the button below if you would like
        to update your data <br />
        (WARNING: this will erase any old data you have stored) <br />
        (ALSO WARNING: this takes a WHILE to upload to the database so have patience and don't close/refresh)
        {% else %}
        looks like you don't have any data! upload your streaming files to get started
        {% endif %}
    </p>

    <button onclick="window.location.href='/upload'"">
        upload files
    </button>

    <hr />

    <div>
        RANKING OF SONGS BY NUMBER OF streams <br />
        (where a stream is playing the song for at least 30s) <br />
        (this DOES NOT exclude private session) <br /><br />

        {% for stream in streams %}
        <p style=" margin: 0">{{stream.track}} - {{stream.artist}} - {{stream.count}}</p>
        {% endfor %}
        </div>
</body>

</html>